<!--header and navbar needed for menu-->
<ion-header>

  <ion-navbar color=primary>
    <button ion-button menuToggle>
      <ion-icon name="menu" color=white></ion-icon>
    </button>

    <span style="float:center">
      <img src="../../assets/imgs/MSUemblem.png" height=50; />
    </span>
  </ion-navbar>
</ion-header>

  <ion-content padding class="profileContent">
    <div text-center style="color:white">

    <h3>{{userInfo.name}}</h3>
    <p class="profile-description">{{userInfo.email}} &bull;{{userInfo.type}}</p>

    <button ion-button (click)="toggleFollow()" *ngIf="isFollowing">
      <ion-icon name="star"></ion-icon>
    </button>

    <button ion-button icon-left outline (click)="toggleFollow()" *ngIf="!isFollowing">
      <ion-icon name="person-add"></ion-icon>
      Add Favorite
    </button>
    <button ion-button [ngClass]="(busyStatus == 'Available') ? 'greenButton': 'redButton'">
      {{busyStatus}}
    </button>

  </div>
  <br/><br/>

  <ion-card class="main-content">
    <ion-card-content text-wrap text-center>
      <h2 style="font-size:24px;">Office Hours</h2>
      <hr>
      <ion-list>
        <div *ngFor="let day of schedule" style="color: rgba(101, 0, 1, 1)">
            {{day.key}}:
            <div *ngFor="let hours of day.value" >
              <div *ngIf="hours.From != null" style="float:center">
                {{hours.From | convertTime}} - {{hours.To | convertTime}}
              </div>
              <div *ngIf="hours.From == null">
                Not in office
              </div>
          </div>
          <br/>
        </div>
        
      </ion-list>
      <hr>
      <button ion-button (click)='goToBook()'>Make an Appointment</button>
    </ion-card-content>
  </ion-card>

    <div *ngFor="let appointment of appointments | orderby: 'date'">
      <ion-item [ngClass]="{greyText: (appointment.timestamp < today) }"
        *ngIf="(appointment.timestamp | date:'shortDate') == (today | date:'shortDate')">
        <h2>{{appointment.timestamp | date:"MMMM d, yyyy"}}</h2>
        <h2>{{appointment.timestamp | date:"hh:mm a"}} - {{appointment.endStamp | date:"hh:mm a"}}</h2>
      </ion-item>
    </div>

  </ion-content>
