page-teacher-profile {

    .header-image {
      background-image: url(../../assets/imgs/library-3.jpg);
      height: 30vh;
      background-size: cover;
      background-position: center center;
      position: relative;
      z-index: -1;
    }

    .main-content {
      background-color: white;
      -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
      border-radius: 15px 15px 15px 15px;
    }

  .circular {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      border: solid white;
      background-size: 100%;
      margin-top: 20%;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  ion-content{
    background-image: linear-gradient(rgba(101, 0, 1, 1),  rgba(236, 172, 2, 1), rgba(101, 0, 1, 1));
  }

  .profile-description {
    font-size: 18px;
    color: white;
  }
  
  .greyText{
    opacity: 0.5;
  } 

  .greenButton{
    background-color: green;
  }

  .redButton{
    background-color: red;
  }
}
