<!--header and navbar needed for menu -->
<ion-header>

  <ion-navbar color = primary>
    <button ion-button menuToggle>
      <ion-icon name="menu" color=white></ion-icon>
    </button>

  <ion-title>
    <h2>Profile</h2>
  </ion-title>

    <span style="float:right">
        <img  src="../../assets/imgs/MSUemblem.png" height = 50;/>
    </span>
</ion-navbar>

</ion-header>


<ion-content padding class="profileContent">
  <div id="profile-pic" class="circular" (click)="setProfilePic()">
  </div>

  <div text-center style="color:white">
    <h2><br/> {{userInfo.name}}</h2>
    <p class="profile-description">{{userInfo.email}} &bull; {{userInfo.type}}</p>

    <button ion-button (click)="settings()" icon-only clear>
      <ion-icon name="create" style="color:white"></ion-icon>
    </button>
    <button ion-button (click)="log_out()" icon-only clear>
      <ion-icon name="log-out" style="color:white"></ion-icon>
    </button>
    <br/><br/>
    <button ion-button (click)='toggleStatus()' [ngClass]="(busyStatus == 'Available') ? 'greenButton': 'redButton'">
      {{busyStatus}}
    </button>
  </div>
  <br/><br/>

  <ion-card class="main-content">
    <ion-card-content text-wrap text-center>
      <h2 style="font-size:24px;"><br/>Office Hours</h2>
      <hr>
      <ion-list>
        <div *ngFor="let day of schedule" style="color: rgba(101, 0, 1, 1)">
            {{day.key}}:
            <div *ngFor="let hours of day.value" >
              <div *ngIf="hours.From != null" style="float:center">
                {{hours.From | convertTime}} - {{hours.To | convertTime}}
              </div>
              <div *ngIf="hours.From == null">
                Not in office
              </div>
          </div>
          <br/>
        </div>
        
      </ion-list>
      <hr>
      <button ion-button (click)="goTo()">
          Upload office hours
      </button>   
    </ion-card-content>
  </ion-card>

</ion-content>
