<!--header and navbar needed for menu-->
<ion-header>
  <ion-navbar color = primary>
    
    <button ion-button menuToggle>
          <ion-icon name="menu" color=white></ion-icon>
    </button>

    <ion-title>
      <h1>Professors</h1>
    </ion-title>

    <span style="float:right">
      <img  src="../../assets/imgs/MSUemblem.png" height = 50;/>
    </span>

  </ion-navbar>
</ion-header>

<ion-content padding>
  
<ion-searchbar showCancelButton style="background-color: #650001"></ion-searchbar>

  <ion-list class="format">
    <ion-item *ngFor="let person of users" (click)='viewUser(person.User.uid)'>
      
<!--
      <ion-avatar item-start>
        
        
        <img *ngIf="person.Picture" src={{person.Picture}} >
        <img *ngIf="!person.Picture" src={{testImage}} >
        
      </ion-avatar>-->

      <!-- Searchbar with a cancel button and custom cancel button text -->
      <h2>{{person.User.name }}
      <ion-icon style="float:right" name="arrow-forward"></ion-icon>
    </h2>
    </ion-item>
  </ion-list>
