page-login-signup {
    // starts the login info in the middle of the page
    #login{
        margin-top: 15vh;
    }

    #background{
        background-image: url(../../assets/imgs/library-3.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    #tint{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .col{
        display:inline-block;
    }

    .error-message{
        color:red;
    }

}