<!--header and navbar needed for menu-->
<ion-header>
  <ion-navbar color = primary>
    
    <button ion-button menuToggle>
          <ion-icon name="menu" color=white></ion-icon>
    </button>

    <ion-title>
      <h1>Book</h1>
    </ion-title>

    <span style="float:right">
      <img  src="../../assets/imgs/MSUemblem.png" height = 50;/>
    </span>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="appForm" (submit)="makeAppointment()" novalidate>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime formControlName="date" min={{today}} pickerFormat="DDD MMM DD YYYY"
        [(ngModel)]="myAppointment['date']"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime formControlName="time" displayFormat="h:mm A" pickerFormat="h:mm"
        hourValues="08,09,10,11,12,13,14,15,16,17, 18" [(ngModel)]="myAppointment['date']"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Duration</ion-label>
      <ion-datetime formControlName="length" pickerFormat="H:mm" hourValues="00,01"
        minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="myAppointment['length']"></ion-datetime>
    </ion-item>

    <button ion-button block [disabled]="!appForm.valid" type="submit">
      Make Appointment
    </button>

    <ion-row>
        <ion-col style="text-align:center;">
          <label class="error-message">{{errorMessage}}</label>
        </ion-col>
      </ion-row>
  </form>

  <div *ngIf="appForm.controls.date.touched">
    <ion-list>
      <ion-list-header>
        <ion-label>Appointments for {{myAppointment.date | date:"MMMM d, yyyy"}}</ion-label>
      </ion-list-header>
      <div *ngFor="let appointment of appointments | orderby: 'date'">
        <ion-item *ngIf="(myAppointment.date | date:'MMMM d, yyyy') == (appointment.timestamp | date:'MMMM d, yyyy')" >
          <div id="appointments">{{appointment.timestamp | date:"MMMM d, yyyy"}}
          {{appointment.timestamp | date:"hh:mm a"}} - {{appointment.endStamp | date:"hh:mm a"}}</div>
        </ion-item>

      </div>
    </ion-list>
  </div>

</ion-content>
